#bodyLogin {
    background-image: url('../../public/img/Desktop\ -\ 14\ \(1\).png'); /* Cambia la URL por la de tu imagen */
    color: #eaeaea;
    font-family: 'Arial', sans-serif;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logo img {
    width: 280px; /* Ajusta según tu logo */
    height: auto;
    
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
    width: 300px;
  }
  
  
  
  input::placeholder {
    color: #a0a0a0;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .forgot-password {
    margin: 10px 0;
  }