#bodyLogin {
    background-image: url('../../public/img/Desktop\ -\ 14\ \(1\).png'); /* Cambia la URL por la de tu imagen */
    color: #eaeaea;
    font-family: 'Arial', sans-serif;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 8px;
  }

  .forgot-password{
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  
  .logo img {
    width: 280px; /* Ajusta según tu logo */
    height: auto;
    
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .input-group-login {
    margin-bottom: 15px;
    width: 300px;
  }
  
  .input-login{
    border-radius: 60px;
    border:#A1BBD1 1px solid;
    padding: 8px;
    padding-right: 300px;
    margin: 12px 0;
    background-color: #C8D8E5;
}


  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .forgot-password {
    margin: 10px 0;
  }